/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  margin: .5rem auto 1.5rem !important;
  max-height: 100% !important;

.home .feature p
  text-align: justify;

.page p
  text-align: justify;
